* {
    background: rgb(31, 30, 30);;
    color: rgb(247, 240, 240);
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    font-size: 24px;
}

a:hover {
    color: orange;
}

h1 {
    font-weight: bold;
    font-size: 36px;
}

h2 {
    font-size: 26px;
}